# IDE and OS etc.
.DS_Store
.idea

# Packages
node_modules
**/package-lock.json
**/pnpm-lock.yaml

# Generated
/.svelte-kit
/package
.vercel
/*.log

# Secrets
/secrets/**/*.pem
/secrets/**/*.env
/secrets/**/sshpass.txt
!/secrets/example/*
!/secrets/**/*.package.json
/twa/key.txt
/twa/android.keystore

# Build files
.output
/build
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/twa/gradle/
/twa/app/
/twa/.gradle/
/twa/app-release*

# Testing
/test-results/
/playwright-report/
