# IDE and OS etc.
.DS_Store
.idea

# Packages
node_modules
package-lock.json

# generated
/.svelte-kit
/package
.vercel

# secrets
.env
*.env
!example.env
*.sshpass

# build files
.output
/build
/misc_3-server/
