# IDE and OS etc.
.DS_Store
.idea

# Packages
node_modules
**/package-lock.json
**/pnpm-lock.yaml
/bun.lockb

# Generated
/.svelte-kit
/package
.vercel
/*.log

# Secrets
/secrets/**/*.pem
/secrets/**/*.env
/secrets/**/sshpass.txt
!/secrets/example/*
!/secrets/**/*.package.json
/pwa/key.txt
/pwa/android.keystore

# Build files
.output
/build
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/pwa/gradle/
/pwa/app/
/pwa/.gradle/
/pwa/app-release*

# Testing
/test-results/
/playwright-report/
/testBackup.json
