@import './variables';
@import './layout';

.gradient-icon {
    &, svg, svg * {
        fill: url(#accent-gradient);
    }
}

svg.gradient-icon * {
    fill: url(#accent-gradient);
}

.icon-gradient-on-hover {
    &:hover {
        .gradient-icon();
    }
}

.accent-gradient-svg {
    position: absolute;
    width: 0;
    height: 0;
}

.invert-icon {
    svg, svg * {
        color: @text-color-invert;
        fill: @text-color-invert;
    }
}

input,
button {
    font-size: inherit;
    font-family: inherit;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

textarea {
    font-size: inherit;
    font-family: inherit;
    background: transparent;
    border: 1px solid @border;
    outline: none;
}

input {
    border-bottom: 1px solid @border;
    position: relative;
    display: inline-block;
    line-height: 1.2;
    text-decoration: none;
    outline: none;
    cursor: text;

    &:hover {
        border-bottom-color: @accent-primary;
    }

    &:focus {
        color: @text-color;
        border-bottom-color: @accent-secondary;
    }

    &[type='color'] {
        border: none;
    }

    &.editable-text {
        border: none;
        border-bottom: 1px solid transparent;
        background: transparent;
        outline: none;
        cursor: text;
        display: inline-block;
        line-height: 1.2;
        text-decoration: none;

        &:focus {
            color: @text-color;
            border-bottom: 1px solid @accent-secondary;
        }

        &:hover {
            border-bottom: 1px solid @accent-primary;
        }
    }

    &.text-box {
        border: 1px solid @border-heavy;
        border-radius: 3px;
        padding: 0.5em;
        margin: 0.2em;
        outline: none;
        cursor: text;
        color: @text-color;
        background: @light-v-accent;
    }
}

:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

select {
    border: 1px solid @border;
    border-radius: 3px;
    padding: 0.5em;
    outline: none;
    cursor: pointer;
    color: @text-color;
    background: @light-accent;

    * {
        color: black;
    }
}

a,
button {
    &.primary {
        border-radius: @border-radius;
        padding: 0.4em 0.8em 0.4em 0.4em;
        margin: 0.5em;
        background: @accent-gradient;

        &, svg, * {
            color: @text-color-invert !important;
        }

        &:hover {
            .glow();
        }

        &:after {
            display: none;
        }
    }

    &.with-icon {
        display: inline-grid;
        // assumed one svg icon and then text
        grid-template-columns: auto 1fr;
        align-items: center;
        justify-content: start;
        margin: 0 0.2rem;
        gap: 0.4rem;

        &.icon-right {
            // text then icon
            // use weird gap stuff to make the icon right aligned
            grid-template-columns: 1fr 15px;
            gap: 10px;
        }
    }

    &.with-circled-icon {
        .icon-gradient-on-hover();

        display: grid;
        // assumed one svg icon and then text
        grid-template-columns: auto 1fr;
        align-items: center;
        justify-content: space-between;
        margin: 0 0.2rem;
        min-width: fit-content;

        svg {
            border-radius: 50%;
            padding: 0.3em;
            background: @light-accent;
            margin: 0 0.4em 0 0.2rem;
            width: fit-content;
        }
    }

    &.not-link {
        color: @text-color;

        &:hover {
            color: @text-color;
            text-decoration: none;
        }
    }

    &.link {
        text-decoration: underline;
        cursor: pointer;
        padding: 0;
        margin: 0;
        border: none;
        background: none;
        outline: none;
    }

    &.icon-button {
        border-radius: @border-radius;
        aspect-ratio: 1/1;
        display: inline-grid;
        place-items: center;

        &:hover {
            background: @light-accent;
            .gradient-icon();
        }
    }

    &.bordered {
        padding: 0.5rem;
        margin: 1rem;
    }
}

.dropzone {
    .bordered();

    border-style: dashed;
    border-radius: @border-radius;

    padding: 2em;
    margin: 2em;

    cursor: pointer;

    &:hover {
        border-style: double;
        color: @text-color-light;
    }
}

.danger:hover {
    svg, svg * {
        color: @accent-danger;
        fill: @accent-danger !important;
    }
}