@import './variables.less';
@import './layout.less';

input,
button {
    font-size: inherit;
    font-family: inherit;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.danger:hover {
    svg {
        color: @accent-color-danger;
    }
}

textarea {
    font-size: inherit;
    font-family: inherit;
    background: transparent;
    border: 1px solid @border;
    outline: none;
}

input {
    border-bottom: 1px solid @border;
    position: relative;
    display: inline-block;
    line-height: 1.2;
    text-decoration: none;
    outline: none;
    cursor: text;

    &:hover {
        border-bottom-color: @accent-color-primary;
    }

    &:focus {
        color: @text-color;
        border-bottom-color: @accent-color-secondary;
    }

    &[type='color'] {
        border: none;
    }

    &.editable-text {
        border: none;
        border-bottom: 1px solid transparent;
        background: transparent;
        outline: none;
        cursor: text;
        display: inline-block;
        line-height: 1.2;
        text-decoration: none;

        &:focus {
            color: @text-color;
            border-bottom: 1px solid @accent-color-secondary;
        }

        &:hover {
            border-bottom: 1px solid @accent-color-primary;
        }
    }

    &.text-box {
        border: 1px solid @border;
        border-radius: 3px;
        padding: 0.5em;
        margin: 0.2em;
        outline: none;
        cursor: text;
        color: @text-color;
        background: @light-accent;
    }
}

:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

select {
    border: 1px solid @border;
    border-radius: 3px;
    padding: 0.5em;
    outline: none;
    cursor: pointer;
    color: @text-color;
    background: @light-accent;

    * {
        color: black;
    }
}

a,
button {
    &.primary {
        border: 1px solid @border;
        border-radius: 10px;
        padding: 0.4em 0.8em 0.4em 0.4em;
        margin: 0.5em;
        color: @text-color;

        display: grid;
        // assumed one icon (svg) and then text
        grid-template-columns: 35px 1fr;
        align-items: center;
        justify-content: space-between;

        &:after {
            display: none;
        }

        &:hover {
            background: @accent-color-primary;
            color: @text-color-invert;

            svg, svg * {
                color: @text-color-invert;
            }
        }

        &.unbordered {
            border: none;
        }
    }

    &.link {
        color: @accent-color-primary;
        text-decoration: underline;
        cursor: pointer;
        padding: 0;
        margin: 0;
        border: none;
        background: none;
        outline: none;

        &:hover {
            color: @accent-color-secondary;
        }
    }
}

.dropzone {
    .bordered();

    border-style: dashed;
    border-radius: 10px;

    padding: 2em;
    margin: 2em;

    cursor: pointer;

    &:hover {
        border-style: double;
        color: @text-color-light;
    }
}
