@import 'variables.less';

* {
    box-sizing: border-box !important;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: fit-content;
    min-height: 100vh;
    background: @bg;
    overflow-x: hidden;
}

main:extend(#svelte) {
    padding: 1.2rem;

    @media @mobile {
        padding: .2rem;
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-space-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.page-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    margin: 0;
    padding: 0;
}

.bordered {
    border: 1px solid @border;
    border-radius: @border-radius;
}

.container-shadow {
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.5);
}

.container {
    .container-shadow();

    margin: 1em;
    padding: 0.3em 0;
    border-radius: @border-radius;
    background: @light-v-accent;

    @media @mobile {
        margin: 0.2em;
        padding: 0.2rem;
    }

    &.invisible {
        box-shadow: none;
        background: none;
    }
}

.hide-mobile {
    @media @mobile {
        display: none !important;
    }
}

.only-mobile {
    @media @not-mobile {
        display: none !important;
    }
}

.glow {
    box-shadow: 0 0 8px 2px rgba(121, 235, 226, 0.5);
}

html, body, main {
    transition: height @transition;
}