@import 'variables.less';

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: fit-content;
    min-height: 100vh;
    background: @bg;
    overflow-x: hidden;
}

main:extend(#svelte) {
    padding: 30px 16px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    margin: 0;
    padding: 0;
}

.bordered {
    border: 1px solid @border;
}

.container {
    .bordered();

    margin: 1em;
    padding: 0.3em 0;
    border-radius: 10px;

    &.unbordered {
        border: none;
    }
}