@import 'variables';
@import 'layout';

.popup-background.window {
    .container();
    background: @bg !important;
    border-radius: @border-radius;

    @media @not-mobile {
        & > button.close {
            display: none;
        }
    }
}

.dropzone {
    color: @text-color;
}

:root {
    --tooltip-background-color: @light-accent !important;
    --tooltip-border-radius: 10px !important;
    --tooltip-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5) !important;
    --tooltip-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif !important;
    --tooltip-font-size: 14px !important;
    --tooltip-font-weight: 500 !important;
    --tooltip-line-height: 1.25rem !important;
    --tooltip-color: @text-color !important;
    --tooltip-arrow-size: 10px !important;
}


.bg .wrap {
    @media @mobile {
        margin: 0 2px !important;
    }
}