@import 'variables';

:root {
    --nav-height: @nav-height;
}

[data-theme='light'], :root {
    --primary: rgb(153, 131, 255);
    --secondary: rgb(0 235 255);

    --bg: rgb(215 215 215);
    --nav-bg: var(--bg);
    --blur-bg-color: rgba(255, 255, 255, 0.2);
    --transluscent-bg: rgba(200, 200, 200, 0.85);

    --accent-danger: rgb(255 31 31);
    --accent-gradient: linear-gradient(140deg, var(--secondary), var(--primary));
    --light-accent: rgb(240 240 240);
    --v-light-accent: rgb(225 225 225);

    --border-light: rgb(190 190 190);
    --border-color: rgb(160 160 160);
    --border-heavy: rgb(130 130 130);

    --text-color: rgba(10 10 10);
    --text-color-accent: rgb(79, 40, 161);
    --text-color-light: rgb(65 65 65);
    --text-colour-on-primary-buttons: black;
    --text-color-invert: white;
    --text-color-danger: rgb(255 56 56);

    --timeline-accent: rgb(79, 40, 161);
}

[data-theme='dark'], :has(.root[data-theme='dark']) {
    --primary: rgb(187, 173, 255);
    --secondary: rgb(121 235 226);

    --bg: rgb(30, 30, 30);
    --nav-bg: var(--bg);
    --blur-bg-color: rgba(0, 0, 0, 0.3);
    --transluscent-bg: rgba(20, 20, 20, 0.5);

    --accent-danger: rgb(255 120 120);
    --accent-gradient: linear-gradient(140deg, var(--secondary), var(--primary));
    --light-accent: rgb(76 76 76);
    --v-light-accent: rgb(46 46 46);

    --border-light: rgb(55 55 55);
    --border-color: rgb(78 78 78);
    --border-heavy: rgb(110 110 110);

    --text-color: white;
    --text-color-accent: var(--secondary);
    --text-color-light: rgb(200 200 200);
    --text-colour-on-primary-buttons: black;
    --text-color-invert: black;
    --text-color-danger: rgb(255 56 56);

    --timeline-accent: var(--secondary);
}
