@bg: #282828;
@accent-color-primary: #79ebe2;
@accent-color-secondary: #b3aae2;
@accent-color-danger: #ff5555;
@accent-gradient: linear-gradient(130deg,
@accent-color-primary,
@accent-color-secondary);
@light-accent: #4f4f4f;
@light-v-accent: #303030;
@border-light: #383838;
@border: rgb(80, 80, 80);
@border-heavy: #737373;

@font-mono: 'Fira Mono', monospace;
@text-color: #ffffff;
@text-color-light: #cbcbcb;
@text-color-invert: black;
@text-color-accent: #31a2ff;
@text-color-danger: #ff3838;

@heading-color: rgba(0, 0, 0, 0.7);
@header-bg: rgb(50 50 50);

@mobile: ~"only screen and (max-width: 550px)";

:global(:root) {
    --nav-height: 60px;
}