@bg: #282828;
@accent-color-primary: #00e7c6;
@accent-color-secondary: #9d49d7;
@accent-gradient: linear-gradient(130deg, @accent-color-primary, @accent-color-secondary);
@light-accent: #4f4f4f;
@border-light: #383838;
@border: rgb(80, 80, 80);
@border-heavy: #737373;

@font-mono: 'Fira Mono', monospace;
@text-color: #ffffff;
@text-color-light: #cbcbcb;
@text-color-accent: #27a0ff;

@heading-color: rgba(0, 0, 0, 0.7);
@header-bg: rgb(50 50 50);