@import './styles/variables.less';
@import './styles/layout.less';
@import './styles/text.less';
@import './styles/input.less';
@import './styles/overrides.less';

svg {
	color: @text-color;
}

.main-stop {
	stop-color: red;
}
.alt-stop {
	stop-color: green;
}

hr {
	border: none;
	border-top: 1px solid @border;
	margin: 10px;
}

.blurred {
	filter: blur(8px);
	-webkit-filter: blur(8px);
}

::-webkit-scrollbar {
	width: 10px;
	height: 3px;
}
::-webkit-scrollbar-track {
	background-color: @bg;
}
::-webkit-scrollbar-thumb {
	height: 50px;
	background-color: #666;
	border-radius: 3px;
}