@tailwind base;
@tailwind components;
@tailwind utilities;

@import '$lib/styles/themes';

html,
body {
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    line-height: 1;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial,
            sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

// https://andy-bell.co.uk/a-modern-css-reset/
*,
*::before,
*::after {
    box-sizing: border-box;
    color: var(--text-color);
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    border: none;
    vertical-align: baseline;
    overflow-wrap: break-word;
}

img, picture {
    max-width: 100%;
    display: block;
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

// HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    border: none;
    border-top: 1px solid var(--border-color);
    margin: 10px;
}

svg {
    color: var(--text-color);
    shape-rendering: geometricPrecision;
}

// Scrollbar

::-webkit-scrollbar {
    width: 6px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background-color: var(--background-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--text-color-light);
    border-radius: 3px;
}


@import '$lib/styles/layout';
@import '$lib/styles/text';
@import '$lib/styles/input';
@import '$lib/styles/overrides';