@import './styles/variables.less';
@import './styles/layout.less';
@import './styles/text.less';

input,
button {
	font-size: inherit;
	font-family: inherit;
	background: transparent;
	border: none;
	cursor: pointer;

	&:focus:not(:focus-visible) {
		outline: none;
	}

	&:hover svg {
		color: @text-color-light;
	}
}

input {
	border-bottom: 1px solid @border;
	position: relative;
	display: inline-block;
	line-height: 1.2;
	text-decoration: none;
	outline: none;
}

svg {
	color: @text-color;
}